body {
  background-image: url("https://wallpapergod.com/images/hd/dead-by-daylight-4851X2653-wallpaper-2tph6mbzrsgxlqla.jpeg");
  color: white;
  text-align: white;
  
}
.perks{
    background-color: darkgrey;
    display: inline-block;
    text-align: center;
    margin: 10px; 
}
