
.App {
  /* The image used */
  /* background-image: url("https://wallpapergod.com/images/hd/dead-by-daylight-4851X2653-wallpaper-2tph6mbzrsgxlqla.jpeg"); */
  background-image: url("https://i.redd.it/u5gsn5x658y71.png");
  /* background-image:url("https://i.ytimg.com/vi/BzWOl4YmqgY/maxresdefault.jpg"); */
  /* background-image:url("https://i.pinimg.com/originals/31/cf/c7/31cfc75aabf3960134f9cb53894053cb.jpg"); */

  /* Full height */
  height: 100vhgit;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
 
  color: white;
  text-align: white;
  margin: 0;
  
}
.perkroulette{
  width: 100%;
  height: 50%;

  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  /* flex-direction: column; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding: 6vh;
 
}

.perks{
  display: inline-block;
  text-align: center;
  margin: 10vh; 
}

.perk-button {
  position: relative;
  display: inline-block;
  border: none;
  width: 20vh;
  height: 20vh;
  background-color: rgb(59,15,98,1)!important; 
  padding: 3vh;
  color: white; 
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} 
.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.perk-button:hover {
  background-color: darkblue; /* Hintergrundfarbe bei Hover anpassen */
}